body {
    background-color: $bg-color;
}

header {
    width: 100%;
    line-height: 10rem;
    font-family: $font-type-header;
    font-size: $fsize-header;
    font-weight: 700;
    color: $fcolor-header;
    text-align: center;
    background-color: $header-color;
    filter: drop-shadow(0px .8rem .8rem #0000007a);
}

label {
    line-height: 5rem;
    font-size: $fsize-label;
    font-weight: 700;
}

input {
    width: 40rem;
    border: none;
    border-radius: .5rem;
    padding-left: 1rem;
    line-height: 5rem;
    color: $fcolor-input;
    font-family: $font-type-input;
    font-size: $fsize-input;
    font-weight: 700;
    filter: drop-shadow(0px .4rem .4rem #0000004b);
    outline: none;
}

button {
    width: 40rem;
    margin-top: 2rem;
    border: none;
    border-radius: .5rem;
    line-height: 5rem;
    color: $fcolor-btn;
    font-family: $font-type-btn;
    font-size: 2.5rem;
    font-weight: 500;
    background-color: $btn-color;
    filter: drop-shadow(0px .4rem .4rem #0000004b);
    outline: none;

    &:hover {
        filter: drop-shadow(0px .2rem .2rem #0000004b);
        cursor: pointer;
    }
}