$bg-color: #f6d655;
$header-color: #bd302c;
$btn-color: #bd302c;

$font-type-header: 'Times New Roman', Times, serif;
$font-type-label: 'Times New Roman', Times, serif;
$font-type-input: Arial, Helvetica, sans-serif;
$font-type-btn: Arial, Helvetica, sans-serif;

$fsize-header: 5rem;
$fsize-label: 3rem;
$fsize-h1: 3rem;
$fsize-p: 2rem;
$fsize-input: 2rem;
//font color
$fcolor-header: #ffffff;
$fcolor-btn: #ffffff;
$fcolor-input: #979797;