@import '../style/main.scss';

main {
    width: 25%;
    margin: 5rem auto;
    align-items: left;
}

div {
    margin-top: 4rem;
}

h1 {
    font-size: $fsize-h1;
}

p {
    line-height: 5rem;
    font-size: $fsize-p;
}