@import '../style/main.scss';

.contact-form {
    width: 50%;
    margin: 5rem auto;
    align-items: center;
}

.alert-label {
    height: 3rem;
    color: red;
}

textarea {
    @include textarea;
    height: 20rem;
    resize: none;

    &:hover {
        filter: drop-shadow(0px .2rem .2rem #0000004b);
        cursor: pointer;
    }
}

.check-box {
    margin-left: 4rem;
    width: 5rem;
    height: 2rem;
}