.alert {
  color: #ff0000;
}

body {
  background-color: #f6d655;
}

.header {
  width: 100%;
  line-height: 10rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 5rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background-color: #bd302c;
  filter: drop-shadow(0px 0.8rem 0.8rem rgba(0, 0, 0, 0.4784313725));
}

.main {
  width: 25%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.main div {
  margin-top: 4rem;
}
.main div h1 {
  font-size: 3rem;
}
.main div p {
  line-height: 5rem;
  font-size: 2rem;
}
.main button {
  width: 40rem;
  margin-top: 2rem;
  border: none;
  border-radius: 0.5rem;
  line-height: 5rem;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  background-color: #bd302c;
  filter: drop-shadow(0px 0.4rem 0.4rem rgba(0, 0, 0, 0.2941176471));
  outline: none;
}
.main button:hover {
  filter: drop-shadow(0px 0.2rem 0.2rem rgba(0, 0, 0, 0.2941176471));
  cursor: pointer;
}
